[submodule "libraries/ClickEncoder"]
	path = libraries/ClickEncoder
	url = git@github.com:0xPIT/encoder.git
	branch = arduino
[submodule "libraries/Menu"]
	path = libraries/Menu
	url = git@github.com:0xPIT/menu.git
[submodule "libraries/PDQ_GFX_Libs"]
	path = libraries/PDQ_GFX_Libs
	url = https://github.com/XarkLabs/PDQ_GFX_Libs/
[submodule "libraries/MAX6675-library"]
	path = libraries/MAX6675-library
	url = https://github.com/adafruit/MAX6675-library
